---

---
<!-- ContAbout.astro -->
  
        <div class="w-5/12 mx-auto px-12 text-center">
            <h2 class="mb-6 border-b pb-2 text-3xl font-bold text-[var(--color-primary)] border-[var(--color-accent)]">Get In Touch</h2>
            <div class="w-9/12 mx-auto pb-4 grid grid-cols-2 md:grid-cols-2 gap-4">
                <a
                    href="mailto:hello@example.com"
                    class="inline-block px-6 py-3 rounded-lg font-medium border-2 border-[var(--color-accent)] bg-[var(--color-btn-bg)] text-[var(--color-secondary)] hover:bg-[var(--color-btn-bg-alt)]">
                    Email Me
                </a>
                <a
                    href="https://github.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="inline-block px-6 py-3 rounded-lg font-medium border-2 border-[var(--color-accent)] bg-[var(--color-btn-bg)] text-[var(--color-secondary)] hover:bg-[var(--color-btn-bg-alt)] transition"
                >
                    GitHub
                </a>
            </div>
