---
const {
  title = "📱Developer 🎨 Designer 🧩 Creator.",
  subtitle = "Not used here yet, but I might add something later.",
  description = "I love building beautiful, functional web sites that are simple and elegant. I have a Full-Stack Personality 😉",
  imageSrc = "coffee.jpg",
} = Astro.props;
---

  <div class="w-7/12 mx-auto my-15 p-10 border-2 rounded-4xl shadow-xl border-[var(--color-bg)]">
    <h1 class="font-heading text-3xl md:text-4xl tracking-tight font-semibold text-[var(--color-title)] mb-6">
      {title}
    </h1>
    <div class="w-10/12 flex flex-col md:flex-row gap-10 text-center items-center">
                <div class="w-46 h-40 rounded-full overflow-hidden flex-shrink-0">
                    <img
                        src={imageSrc}
                        alt="Profile Photo"
                        class="w-full h-full object-cover"
                    />
                </div>
    <h2 class="font-heading mb-6 text-xl md:text-xl leading-relaxed font-semibold text-[var(--color-heading)]">
      {description}
    </h2>
      </div>
        </div>
            </div>