---
import TargetCard from "./TargetCard.astro";


---

    <hr class="w-9/12 py-12 mx-auto border-b-2 border-[var(--color-primary)]" />
  <div class="my-8 mx-auto px-6 rounded-2xl">
        <h2 class="font-heading mx-auto mb-6 text-center text-5xl leading-relaxed text-[var(--color-primary)]">🎯 Who Is Swift For?</h2>
    </div>
    <hr class="w-8/12 mx-auto border-b-2 border-[var(--color-bg)]" />
    <div class="w-6/12 mx-auto my-12 leading-relaxed space-y-4]">
        <TargetCard
            badge="Developers"
            desc="who want a clean, fast, and maintainable codebase to build their portfolio or blog without fighting the framework."
       />
        <TargetCard
            badge="Designers"
            desc="who want to create a beautiful online presence without needing to write a single line of code."
       />
        <TargetCard
            badge="Bloggers"
            desc="who want a simple, platform to share their ideas without setting up and maintaining a complex CMS."
       />
        <TargetCard
            badge="Entrepreneurs"
            desc="who need a fast, SEO-optimized web presence that converts visitors into customers."
       />
    </div>
</div>
