---
interface Props {
badge?: string;
desc?: string;
}

const { badge, desc } = Astro.props;
---

        <p>
            {badge && (
      <span class="inline-block w-fit my-4 px-3 py-3 text-lg font-bold uppercase tracking-wider rounded-full bg-[var(--color-btn-bg)] text-[var(--color-accent)]">
        {badge}
      </span>
    )}
            {desc && (
      <p class="leading-relaxed text-xl text-[var(--color-primary)]">
        {desc}
      </p>
    )}
